<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Visualizations</title>
</head>
<body>
    <h1>Static Visualizations</h1>
    <button onclick="location.href='/view-sample-data'">View Sample Data</button><br><br>
    <button onclick="location.href='/comparision'">Comparision</button><br>
    <button onclick="location.href='/view-chart/1'">View Chart 1</button><br>
    <button onclick="location.href='/view-chart/2'">View Chart 2</button><br>
    <button onclick="location.href='/view-chart/3'">View Chart 3</button><br>
    <button onclick="location.href='/view-chart/4'">View Chart 4</button>
</body>
</html>
